@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular (Light Mode) */
.text-dark {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #8172ff, #ff8dc0);
  }
  
  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    .dark .text-dark {
      background-image: linear-gradient(to right, #efefef, #5f5f5f);
    }
  }
  
  

.boxes-pattern {
    background-image:
        linear-gradient(rgba(56, 56, 56, 0.342) 1px, transparent 1px),
        linear-gradient(90deg, rgba(24, 24, 24, 0.5) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, 0.996) 1px, transparent 1px),
        linear-gradient(90deg, rgba(139, 41, 41, 0.5) 1px, transparent 1px);
    background-size: 90px 20px;
    background-position: 0 0, 0 0, 10px 10px, 0px 10px;
}

.boxes-pattern-white {
    background-image:
        linear-gradient(rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(229, 231, 235, 0.5) 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 0 0, 10px 10px, 10px 10px;
}


.cool-boxes-pattern {
    background-image:
        linear-gradient(rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(229, 231, 235, 0.5) 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 0 0, 10px 10px, 10px 10px;
    position: relative;
    overflow: hidden;
}

.partial-boxes-pattern {
    background-image:
        linear-gradient(rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(90deg, rgba(229, 231, 235, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)),
        linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    background-size: 20px 20px, 20px 20px, 20px 20px, 20px 20px, 100% 20px, 20px 100%;
    background-position: 0 0, 0 0, 10px 10px, 10px 10px, 0 0, 0 0;
    position: relative;
    overflow: hidden;
}

.cssPattern1 {

    background-color: #ffffff;
    opacity: 1;
    background-image: repeating-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 5%, #f5f5f5 75%, #ffffff), repeating-linear-gradient(45deg, #ffffff 25%, #ffffff 25%, #ffffff 65%, #ffffff 75%, #ffffff);
    background-position: 0 0, 15px 15px;
    background-size: 30px 30px;
}

.cssPattern2 {
    background-color: #ffffff;
    opacity: 6;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 37.5px 37.5px, linear-gradient(#ededed 3px, transparent 3px) 0 -1.5px, linear-gradient(90deg, #ededed 3px, #ffffff 3px) -1.5px 0;
    background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
}

.cssPattern3 {


    background-image: linear-gradient(#f6f6f6 1px, transparent 1px), linear-gradient(to right, #f6f6f6 1px, #ffffff 1px);
    background-size: 20px 20px;
}

/* styles.css */
.btn-start,
.btn-pause,
.btn-stop {
    padding: 12px 0;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-start {
    background-color: #4CAF50;
    color: white;
}

.btn-pause,
.btn-stop {
    background-color: #FFC107;
    color: white;
}

.categorySelect {
    width: 200px; /* Set the width of the select element */
    padding: 10px; /* Set padding inside the select box */
    font-size: 16px; /* Set font size */
    border: 1px solid #ccc; /* Set border */
    border-radius: 5px; /* Set border radius for rounded corners */
    background-color: #fff; /* Set background color */
    color: #ff2d2d; /* Set text color */
}

.categorySelect:hover {
    border-color: #007bff; /* Change border color on hover */
}

.categorySelect:focus {
    outline: none; /* Remove outline on focus */
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add box shadow on focus */
}
